@import "~bootstrap/scss/bootstrap";

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0rem;
}

.wrapper {
  height: 100vh;
}

.navbar {
  background-color: $blue-900;
  .navbar-nav {
    justify-content: center;
    width: 100%;
  }
}

.chart-button > * {
  margin: .25rem;
}

@media (min-width: 1200px) {
  .chart {
    max-width: 80%;
  }
}
@media (min-width: 1400px) {
  .chart {
    max-width: 70%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}

