html.scroll-smooth {
  scroll-behavior: smooth;
}

html,
body,
.wrapper {
  min-height: 100%;
}

.wrapper {
  position: relative;

  .content-wrapper {
    min-height: calc(100vh - #{$main-header-height});
  }
}

.content-wrapper {
  background-color: $main-bg;

  > .content {
    padding: $content-padding-y $content-padding-x;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.main-sidebar {
  &,
  &::before {
    $local-sidebar-transition: margin-left $transition-speed $transition-fn, width $transition-speed $transition-fn;
    @include transition($local-sidebar-transition);
    width: $sidebar-width;
  }

  .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) & {
    &,
    &::before {
      box-shadow: none !important;
    }
  }

  .sidebar-collapse & {
    &,
    &::before {
      margin-left: -$sidebar-width;
    }

    .nav-sidebar.nav-child-indent .nav-treeview {
      padding: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &,
    &::before {
      box-shadow: none !important;
      margin-left: -$sidebar-width;
    }

    .sidebar-open & {
      &,
      &::before {
        margin-left: 0;
      }
    }
  }
}

body:not(.layout-fixed) {
  .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;

    .sidebar {
      overflow-y: auto;
    }
  }
}

.layout-fixed {

  .main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
  }

  .control-sidebar {
    bottom: 0;
    float: none;
    position: fixed;
    top: 0;

    .control-sidebar-content {
      height: calc(100vh - #{$main-header-height});
      overflow-y: auto;
    }
  }
}

.main-footer {
  background-color: $main-footer-bg;
  border-top: $main-footer-border-top;
  color: lighten($gray-700, 25%);
  padding: $main-footer-padding;

  .text-sm &,
  &.text-sm {
    padding: $main-footer-padding-sm;
  }
}

.content-header {
  padding: 15px $content-padding-x;
}

@include dark-mode () {
  background-color: $dark-main-bg;
  color: $white;

  .main-footer {
    background-color: $dark;
    border-color: lighten($dark, 10%);
  }
  .content-wrapper {
    background-color: lighten($dark, 7.5%);
    color: $white;

    .content-header {
      color: $white;
    }
  }
}
