.main-sidebar {
  height: 100vh;
  z-index: $zindex-main-sidebar;
}

.sidebar {
  height: calc(100% - (#{$main-header-height-inner} + #{$main-header-bottom-border-width}));
  overflow-x: hidden;
  overflow-y: initial;
  padding-bottom: $sidebar-padding-y;
  padding-left: $sidebar-padding-x;
  padding-right: $sidebar-padding-x;
  padding-top: $sidebar-padding-y;
}

.nav-sidebar {
  .nav-item {
    > .nav-link {
      margin-bottom: .2rem;

      .right {
        @include transition(transform $transition-fn $transition-speed);
      }
    }
  }

  .nav-link > .right,
  .nav-link > p > .right {
    position: absolute;
    right: 1rem;
    top: .7rem;

    i,
    span {
      margin-left: .5rem;
    }

    &:nth-child(2) {
      right: 2.2rem;
    }
  }

  .nav-header {
    padding: $nav-link-padding-y ($nav-link-padding-y * 1.5);
    color: $sidebar-dark-color;
  }

  .nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
  }
}


[class*="sidebar-dark-"] {
  background-color: $sidebar-dark-bg;

  .nav-sidebar > .nav-item {
    // links
    > .nav-link {
      // border-left: 3px solid transparent;
      &:active {
        color: $sidebar-dark-color;
      }
    }

    // Hover and active states
    &.menu-open > .nav-link,
    &:hover > .nav-link,
    > .nav-link:focus {
      background-color: $sidebar-dark-hover-bg;
      color: $sidebar-dark-hover-color;
    }

    > .nav-link.active {
      color: $sidebar-dark-hover-color;

      @if $enable-shadows {
        box-shadow: map-get($elevations, 1);
      }
    }

  }

  .sidebar {
    a {
      color: $sidebar-dark-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

@include dark-mode() {
  [class*="sidebar-light-"] {
    .sidebar {
      a {
        color: $sidebar-light-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

